package modules

templ Navbar() {
	<nav class="border-b py-3">
		<div class="container mx-auto px-4 flex justify-between items-center">
			<a href="/">
				<p class="font-bold text-xl">
					🔥 deeploy.sh
				</p>
			</a>
			@ThemeSwitcher(ThemeSwitcherProps{})
		</div>
	</nav>
}
